flows-mlflow.json
[
  {
    "id": "mlflow-article-workflow",
    "type": "tab",
    "label": "MLflow Article Workflow",
    "disabled": false,
    "info": "Replicates mlflow/tracing-example.js - Generates article with outline, content, and summary using Ollama and logs to MLflow with tracing."
  },
  {
    "id": "inject-start",
    "type": "inject",
    "z": "mlflow-article-workflow",
    "name": "Start Article Generation",
    "props": [
      { "p": "topic", "v": "The Future of Artificial Intelligence", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 160,
    "y": 80,
    "wires": [["mlflow-experiment-node"]]
  },
  {
    "id": "mlflow-experiment-node",
    "type": "mlflow-experiment",
    "z": "mlflow-article-workflow",
    "name": "Get/Create Experiment",
    "trackingUri": "http://localhost:5000",
    "experimentName": "langchain-ollama-tracing",
    "operation": "get-or-create",
    "x": 420,
    "y": 80,
    "wires": [["function-generate-run-name"]]
  },
  {
    "id": "function-generate-run-name",
    "type": "function",
    "z": "mlflow-article-workflow",
    "name": "Generate Run Name",
    "func": "// Generate run name like: the-future-of-artificial-int-2026-02-22T12-30-00\nconst topic = msg.topic || \"article\";\nconst timeString = new Date().toISOString().replace(/[:.]/g, '-').substring(0, 19);\nconst runName = topic.toLowerCase().replace(/\\s+/g, '-').substring(0, 25).replace(/-+$/, '') + '-' + timeString;\n\n// Get experimentId from previous node\nmsg.experimentId = msg.experimentId || (msg.experiment && msg.experiment.experiment && msg.experiment.experiment.experiment_id);\nmsg.runName = runName;\n\nnode.log(\"Experiment ID: \" + msg.experimentId);\nnode.log(\"Run name: \" + msg.runName);\nnode.log(\"Full experiment object: \" + JSON.stringify(msg.experiment));\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 80,
    "wires": [["debug-experiment", "mlflow-create-run"]]
  },
  {
    "id": "debug-experiment",
    "type": "debug",
    "z": "mlflow-article-workflow",
    "name": "Debug Experiment",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "experiment",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 40,
    "wires": []
  },
  {
    "id": "mlflow-create-run",
    "type": "mlflow-run",
    "z": "mlflow-article-workflow",
    "name": "Create Run",
    "trackingUri": "http://localhost:5000",
    "experimentId": "",
    "runName": "",
    "operation": "create",
    "runId": "",
    "status": "FINISHED",
    "x": 900,
    "y": 80,
    "wires": [["function-store-run-id"]]
  },
  {
    "id": "function-store-run-id",
    "type": "function",
    "z": "mlflow-article-workflow",
    "name": "Store Run ID",
    "func": "// Store runId for all subsequent nodes\nmsg.runId = msg.runId || (msg.run && msg.run.info && msg.run.info.run_id);\n\nnode.log(\"Run created: \" + msg.runId);\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1100,
    "y": 80,
    "wires": [["log-param-topic"]]
  },
  {
    "id": "log-param-topic",
    "type": "mlflow-log-param",
    "z": "mlflow-article-workflow",
    "name": "Log Topic",
    "trackingUri": "http://localhost:5000",
    "runId": "",
    "paramName": "topic",
    "paramValue": "msg.topic",
    "x": 1280,
    "y": 60,
    "wires": [["log-param-model"]]
  },
  {
    "id": "log-param-model",
    "type": "mlflow-log-param",
    "z": "mlflow-article-workflow",
    "name": "Log Model",
    "trackingUri": "http://localhost:5000",
    "runId": "",
    "paramName": "model",
    "paramValue": "qwen2.5:7b",
    "x": 1280,
    "y": 100,
    "wires": [["log-param-baseurl"]]
  },
  {
    "id": "log-param-baseurl",
    "type": "mlflow-log-param",
    "z": "mlflow-article-workflow",
    "name": "Log BaseURL",
    "trackingUri": "http://localhost:5000",
    "runId": "",
    "paramName": "baseUrl",
    "paramValue": "http://localhost:11434",
    "x": 1280,
    "y": 140,
    "wires": [["function-build-outline-prompt"]]
  },
  {
    "id": "function-build-outline-prompt",
    "type": "function",
    "z": "mlflow-article-workflow",
    "name": "Build Outline Prompt",
    "func": "// Build the outline prompt (matches tracing-example.js)\nmsg.payload = `Create a brief outline for an article about: ${msg.topic}`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 180,
    "wires": [["ollama-generate-outline"]]
  },
  {
    "id": "ollama-generate-outline",
    "type": "ollama-chat",
    "z": "mlflow-article-workflow",
    "name": "Generate Outline",
    "baseUrl": "http://localhost:11434",
    "modelName": "qwen2.5:7b",
    "temperature": "0.7",
    "x": 640,
    "y": 180,
    "wires": [["function-store-outline"]]
  },
  {
    "id": "function-store-outline",
    "type": "function",
    "z": "mlflow-article-workflow",
    "name": "Store Outline",
    "func": "// Store the outline for later use\nmsg.outline = msg.payload;\nmsg._outlineLength = msg.payload.length;\nnode.log(\"Outline generated: \" + msg.payload.length + \" chars\");\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 840,
    "y": 180,
    "wires": [["debug-outline", "function-build-content-prompt"]]
  },
  {
    "id": "debug-outline",
    "type": "debug",
    "z": "mlflow-article-workflow",
    "name": "Outline",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "outline",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1020,
    "y": 140,
    "wires": []
  },
  {
    "id": "function-build-content-prompt",
    "type": "function",
    "z": "mlflow-article-workflow",
    "name": "Build Content Prompt",
    "func": "// Build the content generation prompt (matches tracing-example.js)\nmsg.payload = `Write a short article based on this outline:\\n\\n${msg.outline}\\n\\nTopic: ${msg.topic}`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 260,
    "wires": [["ollama-generate-content"]]
  },
  {
    "id": "ollama-generate-content",
    "type": "ollama-chat",
    "z": "mlflow-article-workflow",
    "name": "Generate Content",
    "baseUrl": "http://localhost:11434",
    "modelName": "qwen2.5:7b",
    "temperature": "0.7",
    "x": 640,
    "y": 260,
    "wires": [["function-store-content"]]
  },
  {
    "id": "function-store-content",
    "type": "function",
    "z": "mlflow-article-workflow",
    "name": "Store Content",
    "func": "// Store the content for later use\nmsg.content = msg.payload;\nmsg._contentLength = msg.payload.length;\nnode.log(\"Content generated: \" + msg.payload.length + \" chars\");\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 840,
    "y": 260,
    "wires": [["debug-content", "function-build-summary-prompt"]]
  },
  {
    "id": "debug-content",
    "type": "debug",
    "z": "mlflow-article-workflow",
    "name": "Content",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "content",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1020,
    "y": 220,
    "wires": []
  },
  {
    "id": "function-build-summary-prompt",
    "type": "function",
    "z": "mlflow-article-workflow",
    "name": "Build Summary Prompt",
    "func": "// Build the summary prompt (matches tracing-example.js)\nmsg.payload = `Summarize the following content in 2-3 sentences:\\n\\n${msg.content}`;\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 340,
    "wires": [["ollama-summarize"]]
  },
  {
    "id": "ollama-summarize",
    "type": "ollama-chat",
    "z": "mlflow-article-workflow",
    "name": "Summarize",
    "baseUrl": "http://localhost:11434",
    "modelName": "qwen2.5:7b",
    "temperature": "0.7",
    "x": 620,
    "y": 340,
    "wires": [["function-store-summary"]]
  },
  {
    "id": "function-store-summary",
    "type": "function",
    "z": "mlflow-article-workflow",
    "name": "Store Summary",
    "func": "// Store the summary\nmsg.summary = msg.payload;\nmsg._summaryLength = msg.payload.length;\nnode.log(\"Summary generated: \" + msg.payload.length + \" chars\");\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 820,
    "y": 340,
    "wires": [["debug-summary", "log-metric-outline"]]
  },
  {
    "id": "debug-summary",
    "type": "debug",
    "z": "mlflow-article-workflow",
    "name": "Summary",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "summary",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 300,
    "wires": []
  },
  {
    "id": "log-metric-outline",
    "type": "mlflow-log-metric",
    "z": "mlflow-article-workflow",
    "name": "Log Outline Length",
    "trackingUri": "http://localhost:5000",
    "runId": "",
    "metricName": "outline_length",
    "metricValue": "msg._outlineLength",
    "x": 1040,
    "y": 360,
    "wires": [["log-metric-content"]]
  },
  {
    "id": "log-metric-content",
    "type": "mlflow-log-metric",
    "z": "mlflow-article-workflow",
    "name": "Log Content Length",
    "trackingUri": "http://localhost:5000",
    "runId": "",
    "metricName": "content_length",
    "metricValue": "msg._contentLength",
    "x": 1040,
    "y": 400,
    "wires": [["log-metric-summary"]]
  },
  {
    "id": "log-metric-summary",
    "type": "mlflow-log-metric",
    "z": "mlflow-article-workflow",
    "name": "Log Summary Length",
    "trackingUri": "http://localhost:5000",
    "runId": "",
    "metricName": "summary_length",
    "metricValue": "msg._summaryLength",
    "x": 1040,
    "y": 440,
    "wires": [["update-run-status"]]
  },
  {
    "id": "update-run-status",
    "type": "mlflow-run",
    "z": "mlflow-article-workflow",
    "name": "Finish Run",
    "trackingUri": "http://localhost:5000",
    "experimentId": "",
    "runName": "",
    "operation": "update-status",
    "runId": "",
    "status": "FINISHED",
    "x": 1260,
    "y": 400,
    "wires": [["debug-complete"]]
  },
  {
    "id": "debug-complete",
    "type": "debug",
    "z": "mlflow-article-workflow",
    "name": "Complete",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "Workflow completed!",
    "statusType": "custom",
    "x": 1460,
    "y": 400,
    "wires": []
  },
  {
    "id": "comment-workflow",
    "type": "comment",
    "z": "mlflow-article-workflow",
    "name": "MLflow Article Workflow - Replicates tracing-example.js",
    "info": "This flow:\n1. Gets or creates an MLflow experiment\n2. Creates a new run with a timestamped name\n3. Logs parameters (topic, model, baseUrl)\n4. Generates outline using Ollama\n5. Generates content using Ollama\n6. Summarizes content using Ollama\n7. Logs metrics (lengths of outline, content, summary)\n8. Marks run as FINISHED",
    "x": 360,
    "y": 20,
    "wires": []
  }
]
