rag-create.json
[
  {
    "id": "62d868f57bc511c7",
    "type": "group",
    "z": "rag-index-flow",
    "name": "RAG - create Vector Database",
    "style": {
      "label": true
    },
    "nodes": [
      "46b2639cccac54de",
      "29601029757e0d91",
      "d0745308be753df7",
      "65857e6e39d6c2cd",
      "aaecb81139e51e39",
      "c057a054dcedf7b1",
      "81ffab5bce2c25f1",
      "e7563170c04fc112",
      "901788adef43c4b8",
      "85a31818b5360b99"
    ],
    "x": 54,
    "y": 59,
    "w": 1292,
    "h": 142
  },
  {
    "id": "46b2639cccac54de",
    "type": "inject",
    "z": "rag-index-flow",
    "g": "62d868f57bc511c7",
    "name": "URL to Index",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "metadata.title",
        "v": "Star Wars: A New Hope",
        "vt": "str"
      },
      {
        "p": "toolResults",
        "v": "[]",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[   {     \"title\": \"Star Wars: A New Hope\",     \"url\": \"https://www.imsdb.com/scripts/Star-Wars-A-New-Hope.html\"   },   {     \"title\": \"Star Wars: The Empire Strikes Back\",     \"url\": \"https://www.imsdb.com/scripts/Star-Wars-The-Empire-Strikes-Back.html\"   },   {     \"title\": \"Star Wars: Return of the Jedi\",     \"url\": \"https://www.imsdb.com/scripts/Star-Wars-Return-of-the-Jedi.html\"   } ]",
    "payloadType": "json",
    "x": 170,
    "y": 100,
    "wires": [
      [
        "29601029757e0d91"
      ]
    ]
  },
  {
    "id": "29601029757e0d91",
    "type": "split",
    "z": "rag-index-flow",
    "g": "62d868f57bc511c7",
    "name": "",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "property": "payload",
    "x": 270,
    "y": 160,
    "wires": [
      [
        "81ffab5bce2c25f1"
      ]
    ]
  },
  {
    "id": "d0745308be753df7",
    "type": "file in",
    "z": "rag-index-flow",
    "g": "62d868f57bc511c7",
    "name": "Read star wars file",
    "filename": "fileName",
    "filenameType": "msg",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "allProps": false,
    "x": 550,
    "y": 160,
    "wires": [
      [
        "65857e6e39d6c2cd"
      ]
    ]
  },
  {
    "id": "65857e6e39d6c2cd",
    "type": "cheerio",
    "z": "rag-index-flow",
    "g": "62d868f57bc511c7",
    "name": "HTML To Text",
    "selector": "pre",
    "attribute": "text",
    "attributeName": "",
    "outputFormat": "string",
    "x": 680,
    "y": 100,
    "wires": [
      [
        "aaecb81139e51e39"
      ]
    ]
  },
  {
    "id": "aaecb81139e51e39",
    "type": "change",
    "z": "rag-index-flow",
    "g": "62d868f57bc511c7",
    "name": "Create JSON",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "(\t    $newMessage := {\t        \"pageContent\":msg.payload, \t        \"metadata\": {\t            \"source\": msg.url,\t            \"title\": msg.title\t        }\t    };\t)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 790,
    "y": 160,
    "wires": [
      [
        "c057a054dcedf7b1"
      ]
    ]
  },
  {
    "id": "c057a054dcedf7b1",
    "type": "text-splitter",
    "z": "rag-index-flow",
    "g": "62d868f57bc511c7",
    "name": "",
    "chunkSize": 1000,
    "chunkOverlap": 100,
    "separator": "\n\n|\n| |",
    "outputFormat": "array",
    "x": 910,
    "y": 100,
    "wires": [
      [
        "e7563170c04fc112"
      ]
    ]
  },
  {
    "id": "81ffab5bce2c25f1",
    "type": "change",
    "z": "rag-index-flow",
    "g": "62d868f57bc511c7",
    "name": "url & fileName & title",
    "rules": [
      {
        "t": "set",
        "p": "url",
        "pt": "msg",
        "to": "payload.url",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "fileName",
        "pt": "msg",
        "to": "\"C:/Users/4artu/IdeaProjects/node-red-nodes/\" & \t$replace(\t    payload.title & \".html\",\t    /[ :]+/,\t    \"-\"\t)",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "title",
        "pt": "msg",
        "to": "payload.title",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 400,
    "y": 100,
    "wires": [
      [
        "d0745308be753df7"
      ]
    ]
  },
  {
    "id": "e7563170c04fc112",
    "type": "ollama-emb",
    "z": "rag-index-flow",
    "g": "62d868f57bc511c7",
    "name": "",
    "baseUrl": "http://localhost:11434",
    "model": "mxbai-embed-large",
    "x": 1030,
    "y": 160,
    "wires": [
      [
        "85a31818b5360b99"
      ]
    ]
  },
  {
    "id": "901788adef43c4b8",
    "type": "debug",
    "z": "rag-index-flow",
    "g": "62d868f57bc511c7",
    "name": "debug 14",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1240,
    "y": 160,
    "wires": []
  },
  {
    "id": "85a31818b5360b99",
    "type": "faiss-store",
    "z": "rag-index-flow",
    "g": "62d868f57bc511c7",
    "name": "",
    "operation": "add",
    "persistPath": "./faiss_index",
    "x": 1130,
    "y": 100,
    "wires": [
      [
        "901788adef43c4b8"
      ]
    ]
  },
  {
    "id": "610f53cb13120db5",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-contrib-cheerio": "1.0.0",
      "node-red-contrib-text-splitter": "1.0.0",
      "node-red-contrib-ollama-embeddings": "1.0.0",
      "node-red-contrib-faiss": "1.0.0"
    }
  }
]